/* General */
body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;/*tipografia a usar*/
    background-color: #b370b8;
    color: rgb(1, 14, 27);
}
h1 {/*titulo principal*/
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;/*Mayusculas*/
    font-weight: 700;/*peso normal o negrita*/
    letter-spacing: 3px;
}
/*Estructura*/
header {
    background-color:#b370b8;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;

}
main {
    max-width: 700px;
    margin: 30px auto;
    padding: 25px;
    background-color: white;
    border-radius: 10px;


}
footer {
    background-color: #a7567d;
    color: white;
    text-align: center;
    padding: 15px;
}
/*Selectores*/
nav ul {
    list-style: none;
    padding: 0;
}
nav li {
    display: inline;
    margin: 0 10px;
}
nav a {
    text-decoration: none;
    color: beige;
    font-weight: bold; /* Peso de la fuente normal o negrita*/
}
a:hover {/*puntero mouse*/
    opacity: 0.7;
    transition: 0.3s;
}
/* Selector*/
p {
    line-height: 1.6;
}